<div class="servace">
  
    <ul class="serve_conters">
     
        <li>
            <div class="lef_icons iconfont icon-dizhi"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-shouji2"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-xinhao"></div>
            <div class="conters ">
                <p >海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-wifi"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-anquan"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-backup"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-qukuailianshujufuwu"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-shouji"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>
        <li>
            <div class="lef_icons iconfont icon-ai221"></div>
            <div class="conters">
                <p>海量视频下载</p>
                <p>流线式网页布局设计方案和可视化图文内容编辑模式让网站制作和维护成为一件轻松惬意的事</p>
            </div>
        </li>

       
    </ul>
 
</div>