<div class="tab_box">
    <div class="tab_main">
        <div class="logo_img">
            <img src="../../../assets/images/logo.jpg">
        </div>
        <div class="tab_nave">
            <nav>
                <li *ngFor="let item of listdata"  (click)="changepage(item.paht)">
                    <span> {{item.title}}</span>
                    <p  [class.activesla]="selectedname ==item.paht"></p>
                </li>
               
            </nav>

        </div>
        <div class="phones">
            <div class="phones_im">
                <img src="../../../assets/images/phone.png">
            </div>
            <div class="hoeng_number">
                <span>|</span>
                <span>400-2623-367</span>
            </div>
        </div>
    </div>
</div>