<div class="tab_box">
    <div class="tab_main">
        <div class="logo_img">
            <img src="../../../assets/images/logo.jpg">
        </div>
        <div class="tab_nave">
            <nav>
                <li>
                    <span> 首页</span>
                  

                </li>
                <li> 
                    <span>产品自选</span>
                   

                </li>
                <li> 
                    <span>产品自选</span>
                
                </li>
                <li> 
                    <span>产品自选</span>
                 
                </li>
                <li>
                    <span>产品自选</span>
                   
                    </li>
            </nav>

        </div>
        <div class="phones">
            <div class="phones_im">
                <img src="../../../assets/images/phone.png">
            </div>
            <div class="hoeng_number">
                <span>|</span>
                <span>400-2623-367</span>
            </div>
        </div>
    </div>
</div>