<div class="main_home">
    <div class="img_mian">
        <div class="handers_img">
        </div>
        <div class="iagesbox">
        </div>
        <div class="contrsr"> 
            <div class="chines text">我们无法做到完美， 但追求完美能让人卓越</div>
        <div class="english text">Perfection’snot attainable, but if we chase it we can catch excellence.</div>
        </div> 
        <div style="position: relative; z-index: 23;" >
             
           <app-container style="width: 100%;position: absolute;bottom: 0;"></app-container>
         
        </div>
   

    </div>
    <div class="ontent-wrapper_one">
        <div class="box_one">
            <div class="bit_esdhu">
                <div class="header_title">平台三大优势</div>
                <div class="line-abs "></div>
                <div class="qfe_wrapper">
                    <p style="text-align: center;"><span style="color:#666666;">的格们丹甫股份很的项热弱贡采和认和投</span></p>
                </div>
            </div>
        </div>
        <div class="box_advantage">
            <div class="advantage">
                <div class="icons iconfont icon-ico_print"></div>
                <div class="lines"></div>
                <div class="test">自主建设</div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-xinhao"></div>
                <div class="lines"></div>
                <div class="test">自主建设</div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-diannao" ></div>
                <div class="lines"></div>
                <div class="test">自主建设</div>
            </div>
        </div>

    </div>
    <div class="ontent-wrapper_two ">
        <div class="box_one">
            <div class="bit_esdhu">
                <div class="header_title">功能多样，满足您的所有需求
                </div>
                <div class="line-abs"></div>
                <div class="qfe_wrapper">
                    <p style="text-align: center;">
                        <span style="color:#666666;">
                            您可以双击这里或者点击编辑按钮来修改内容，您还可以添加图标按钮图片等常用元素</span></p>
                </div>
            </div>
        </div>
        <div class="box_advantage">
            <div class="advantage">
                <div class="icons iconfont icon-dizhi "></div>
              
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p>随心所欲的改</p>
                    <p>>变内容的位置</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-shipin"></div>
              
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p> 随心所欲的改</p>
                    <p>变内容的位置</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-shouji2"></div>
          
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p> 随心所欲的改</p>
                    <p>变内容的位置</p></div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-tupian1"></div>
              
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p> 随心所欲的改</p>
                    <p>变内容的位置</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-icon-"></div>
              
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p> 随心所欲的改</p>
                    <p>变内容的位置</p>
                </div>
            </div>
            <div class="advantage">
                <div class="icons iconfont icon-cart_icon"></div>
          
                <div class="test">自主建设</div>
                <div class="listconter">
                    <p> 随心所欲的改</p>
                    <p>变内容的位置</p>
                </div>
            </div>
        </div>
    <div class="butns">
        体验产品
    </div>
    </div>

<app-project></app-project>


  
<app-server></app-server>

    <div class="function">
        <div class="box_one">
            <div class="bit_esdhu">
                <div class="header_title">功能多样，满足您的所有需求
                </div>
                <div class="line-abs"></div>
                <div class="qfe_wrapper">
                    <p style="text-align: center;"><span style="color:#666666;">您可以双击这里或者点击编辑按钮来修改内容，您还可以添加图标按钮图片等常用元素</span></p>
                </div>
            </div>
        </div>
        <div class="box_advantage">
            <div class="advantage">
                <div class="icons"></div>
              
                <div class="test">更新日志查询列表</div>
              
            </div>
            <div class="advantage">
                <div class="icons"></div>
              
                <div class="test">更新日志查询列表</div>
                
            </div>
            <div class="advantage">
                <div class="icons"></div>
          
                <div class="test">更新日志查询列表</div>
               
            </div>
            <div class="advantage">
                <div class="icons">
                    
                </div>
              
                <div class="test">更新日志查询列表</div>
               
            </div>
          
        </div>
        <div class="wrapper">
            <p style="text-align: center;"><span style="color:#666666;">您可以双击这里或者点击编辑按钮来修改内容，您还可以添加图标按钮图片等常用元素</span></p>
        </div>
        <div class="butns">
            体验产品
        </div>
    </div>

   

    <app-footer></app-footer>
</div>