
@fontcolor = '#696969';

.conters{
   
    width: 70%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .left,.right{
        width:48%
    }
    .right{
        .imahse{
            width: 36%;
            margin: 20px 0px;
            img{
                width: 100%;
            }
        }
        ul li{
           
        }
        ul li span{
            font-size: 14px;
            color: #696969;
            font-family: 微软雅黑;
            letter-spacing: 1px;
            line-height: 31px;
            margin: 0 4px;
        }
        .setforms(@inpheight:40px){
            width: 90%;
            margin: 10px 0;
           
            background-color: rgb(252, 252, 252);
            border: 1px solid rgb(161, 161, 161);
          outline:0px solid rgb(161, 161, 161);;
            height: @inpheight;
            font-size: 14px;
            padding: 0 5px;
        }
        .adnv{
            color: #000
           
        }
        // .formdats form{
        //     input::-webkit-input-placeholder {
        //         /* WebKit browsers */ 
        //         font-size:14px;
        //         color: #696969;
        //     }
        //     input:-moz-placeholder {
        //         /* Mozilla Firefox 4 to 18 */ 
        //     font-size:14px;
        //         color:#696969;
        //     }
        //     input::-moz-placeholder {
        //         /* Mozilla Firefox 19+ */ 
        //     font-size:14px;
        //         color:#696969;
        //     }
        //     input:-ms-input-placeholder {
        //         /* Internet Explorer 10+ */ 
        //     font-size:14px;
        //     color:#696969;
        //     }               
        // }


        .formdats input,textarea{
            .setforms
        }
        .formdats textarea{
            .setforms(60px);
            max-width: 90%;
            max-height: 120px;
        }
        .formdats button{
            color: #ffffff;
            font-size: 16px;
            line-height:16px;
            
            padding: 10px 40px;
            border: 0;
            background-color: #363636;
        }
    }
}
