<div class="box_icons">
    <div class="tab_img">
        <ul>
            <li>
                <div class="imgaes"></div>
                <p>流线式网页布局设计方案让网站制作成和维护为一件轻松惬意的事</p>
            </li>
            <li>
                <div class="imgaes"></div>
                <p>流线式网页布局设计方案让网站制作成和维护为一件轻松惬意的事</p>
            </li>
            <li>
                <div class="imgaes"></div>
                <p>流线式网页布局设计方案让网站制作成和维护为一件轻松惬意的事</p>
            </li>
            <li>
                <div class="imgaes"></div>
                <p>流线式网页布局设计方案让网站制作成和维护为一件轻松惬意的事</p>
            </li>
        </ul>
    </div>
</div>