<div class="projectpage">
    <app-headimgaes></app-headimgaes>
    <div class="projec_conters">
        <div class="box_one porje_title">
            <div class="bit_esdhu">
                <div class="header_title">完善的售后服务体系  </div>
                <div class="line-abs"></div>
                <div class="qfe_wrapper">
                    <p style="text-align: center;"><span style="color:#666666;">的格们丹甫股份很的项热弱贡采和认和投</span></p>
                </div>
            </div>      
        </div>
        <div class="conters_imgs">
            <div class="baimages">
                <img src=" ../../../../../assets/images/projectphones.webp">
            </div>
          
        </div>
      
    </div>
    <app-project></app-project>
    <app-container></app-container>
    <app-footer></app-footer>
</div>