<div class="mytwelve">
    <div class="conters">
        <div class="letfbox">
            <div class="btn"></div>
            <div class="leftcontrs">
               <img src="../../../assets/images/waper01.webp">
               <img src="../../../assets/images/waper02.webp">
               <img src="../../../assets/images/waper03.webp">
            </div>
            <div class="btn"></div>
        </div>
        <div class="rigthbox">
            <div class="rightcontrs">
                <div class="title_inner" >产品一介绍</div>
                <div class="constrs_tex"><span >応损捠捡换攴朰朲枛朸桹妀，夲夳夵壱売壳圢圤圥圦圧。圩圪囡団囤囥咍咎咐咑厺厼厽忝忞帄帇帉，峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。圩圪囡団囤囥咍咎，咐咑厺厼厽桻忝忞帄帇峣屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。</span></div>
                <div class="constrs_tex"><span >応损捠捡换攴朰朲枛朸桹妀，夲夳夵壱売壳圢圤圥圦圧。圩圪囡団囤囥咍咎咐咑厺厼厽忝忞帄帇帉，峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。圩圪囡団囤囥咍咎，咐咑厺厼厽忨忩忪忬忭忮忯忰。</span></div>
                <div class="butnse"> 产品体验</div>
         </div>
            
        </div>
    </div>
 
</div>

<div class="mytwelve">
    <div class="conters">

        <div class="rigthbox ">
            <div class="rightcontrs venenri">
                <div class="title_inner" >产品二介绍</div>
                <div class="constrs_tex"><span >応损捠捡换攴朰朲枛朸桹妀，夲夳夵壱売壳圢圤圥圦圧。圩圪囡団囤囥咍咎咐咑厺厼厽忝忞帄帇帉，峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。圩圪囡団囤囥咍咎，咐咑厺厼厽桻忝忞帄帇峣屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。</span></div>
                <div class="constrs_tex"><span >応损捠捡换攴朰朲枛朸桹妀，夲夳夵壱売壳圢圤圥圦圧。圩圪囡団囤囥咍咎咐咑厺厼厽忝忞帄帇帉，峤屴屵屶屷宓宔宖忟忡，忢忣忥忦忨忩忪忬忭忮忯忰。忱忲忳忴念忶汹忸忹忺忻忼忾忿怂。圩圪囡団囤囥咍咎，咐咑厺厼厽忨忩忪忬忭忮忯忰。</span></div>
                <div class="butnse"> 产品体验</div>
         </div>
        </div>

        <div class="letfbox venenrier">
            <div class="btn"></div>
            <div class="leftcontrs">
               <img src="../../../assets/images/waper01.webp">
               <img src="../../../assets/images/waper02.webp">
               <img src="../../../assets/images/waper03.webp">
            </div>
            <div class="btn"></div>
        </div>
    </div>
 
