.footers_mian {
  color: #ffffff;
  width: 100%;
  background: #2c2c2c none repeat;
}
.conters_foote {
  width: 60%;
  margin: auto;
  padding: 50px;
}
.conters_foote ul {
  margin: auto;
  display: flex;
  margin-bottom: 20px;
  height: 100%;
  justify-content: space-between;
}
.conters_foote ul li {
  padding: 20px 20px;
  height: 80%;
  width: 80%;
  padding: 10px 0;
}
.conters_foote ul li .title {
  vertical-align: top;
  font-size: 16px;
  color: #8d9095;
  padding-right: 5px;
  text-align: left;
  margin: 5px 0;
}
.conters_foote ul li p {
  vertical-align: top;
  font-size: 14px;
  color: #8d9095;
  padding-right: 5px;
  text-align: left;
}
.conters_foote ul li .core_iameg {
  margin: 0px 50px;
}
.conters_foote ul li .core_iameg p {
  vertical-align: top;
  font-size: 16px;
  color: #8d9095;
  padding-right: 5px;
  text-align: left;
  margin: 5px 0;
}
.conters_foote ul:nth-child(1) li .core_iameg .imgse {
  height: 110px;
  background: url('../../../assets/images/scorc.webp') no-repeat;
}
