<div class="footers_mian">
    <div class="conters_foote">
        <ul>
            <li>
                <div class="core_iameg">
                    <p>关注我们</p>
                    <div class="imgse"></div>
                </div>
              
            </li>
            <li >
                <p class="title">联系我们</p>
                <p>电话：400-800-6000</p>
                <p>网址：www.abcdefg.net</p>
                <p>邮箱： info@email.com</p>
                <p>地址：上海市松江区佘山林荫大道00号</p>

            </li>
            <li>
                <p class="title">联系我们</p>
                <p>电话：400-800-6000</p>
                <p>网址：www.abcdefg.net</p>
                <p>邮箱： info@email.com</p>
                <p>地址：上海市松江区佘山林荫大道00号</p>
            </li>
            <li>
                <p class="title">联系我们</p>
                <p>电话：400-800-6000</p>
                <p>网址：www.abcdefg.net</p>
                <p>邮箱： info@email.com</p>
                <p>地址：上海市松江区佘山林荫大道00号</p>
            </li>
        </ul>
    </div>
    <div class="filing_foote"></div>
</div>