.inputs {
  width: 80%;
  position: relative;
  top: -130px;
  z-index: 25;
  margin: auto;
}
.inputs .set {
  position: relative;
  left: 50%;
  width: 46%;
  transform: translate(-50%);
  display: flex;
}
.inputs input {
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #0daeb8;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 45px;
  width: 80%;
}
.inputs .btn {
  width: auto;
  line-height: 45px;
  height: 45px;
  background: #0daeb8 none repeat scroll 0 0;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid #0daeb8;
  font-weight: normal;
  margin: 0;
  padding: 0px 10px ;
  text-indent: 0;
  text-shadow: none;
  right: 0;
  top: 0px;
}
